.mainCardContainer {
    margin-bottom: 50px;
    padding: 0; 
}

.gameMessage {
    text-align: center;
    max-width: 100%;
    align-content: center
}

.gameMessage p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-bottom: 0px;
}

.gameScores {
    text-align: center;
    max-width: 100%;
    align-content: center;
    margin-bottom: 10px;
}
.gameScores p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color:dodgerblue;
    color: white;
    padding: 20px 0;
    margin-bottom: 25px;
}