/*JUMBOTRON*/
.jumbotron {
	background-image: url("https://i.imgur.com/RLUjDyI.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-size: 65px;
	font-weight: 600;
	color: dodgerblue;
}

.jumbotron p {
	font-size: 24px;
	font-weight: 500;
}