.allCards {
    margin-bottom: 10px;
    border: none;
    text-align: center;
    overflow: hidden;
    height: 200px;
    width: 200px;
    
}

.allCards img {

    border: 1px solid rgba(0, 0, 0, 0.25);
    max-height: 400px;
    max-width: 400px;
    background-color: white;
    object-fit: cover;
}